jobs:
- job: osx
  pool:
    vmImage: macOS-10.13
#  timeoutInMinutes: 360
  strategy:
    maxParallel: 8
    matrix:
      osx_python2.7:
        CONFIG: linux_python2.7
        EXCLUDE_JINJA: CUDA_SHORT_VERSION

  steps:
    - script: |
        echo "##vso[task.setvariable variable=NIGHTLY]true"
      condition: eq(variables['Build.Reason'], 'Schedule')
      displayName: Set dev trigger if scheduled

    - bash: |
        echo "##vso[task.prependpath]$CONDA/bin"
        sudo chown -R $USER $CONDA
      displayName: Add conda to PATH

    - script: |
        source activate base
        conda install -n base -c conda-forge --quiet --yes conda-build
        conda update --yes --quiet -c conda-forge -c defaults --all
      displayName: Add and update conda-forge

    - script: |
        export PROVIDER_DIR="$(basename $THISDIR)"
        CBA_FLAGS="-vvv --cycle-packages --dry-run"
        if [ -n "$INCLUDE_JINJA" ]; then
          CBA_FLAGS="$CBA_FLAGS --build-only-jinja $INCLUDE_JINJA"
        fi
        if [ -n "$EXCLUDE_JINJA" ]; then
          CBA_FLAGS="$CBA_FLAGS --no-build-jinja $EXCLUDE_JINJA"
        fi
        if [ ! -z "$NIGHTLY"]; then
          CBA_FLAGS="$CBA_FLAGS --dev --scheduled-only --upload omnia-dev"
        fi
        export CBA_FLAGS=$CBA_FLAGS
        echo "##vso[task.setvariable variable=CBA_FLAGS]$CBA_FLAGS"
      displayName: Assemble Variables

    - script: |
        source activate base
        conda config --add channels omnia
        conda config --add channels conda-forge

        conda install --yes conda conda-build anaconda-client

        chmod +x $(Build.SourcesDirectory)/conda-build-all

        python $(Build.SourcesDirectory)/conda-build-all $CBA_FLAGS -m $(Build.SourcesDirectory)/.conda_configs/$(CONFIG).yaml -- $(Build.SourcesDirectory)/*
      displayName: Run Conda Build
