jobs:
- job: linux
  pool:
    vmImage: ubuntu-16.04
#  timeoutInMinutes: 360
  strategy:
    maxParallel: 8
    matrix:
      linux_python2.7:
        CONFIG: linux_python2.7
        DOCKER_IMAGE: condaforge/linux-anvil-comp7
        EXCLUDE_JINJA: CUDA_SHORT_VERSION
      linux_python2.7_cuda8.0:
        CONFIG: linux_python2.7_cuda8.0
        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda80"
        INCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python2.7:
#        CONFIG: linux_python2.7
#        DOCKER_IMAGE: condaforge/linux-anvil-comp7
#        EXCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python3.7:
#        CONFIG: linux_python3.7
#        DOCKER_IMAGE: condaforge/linux-anvil-comp7
#        EXCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python3.8:
#        CONFIG: linux_python3.8
#        DOCKER_IMAGE: condaforge/linux-anvil-comp7
#        EXCLUDE_JINJA: CUDA_SHORT_VERSION
#
#      linux_python2.7_cuda8.0:
#        CONFIG: linux_python2.7_cuda8.0
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda80"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python2.7_cuda9.0:
#        CONFIG: linux_python2.7_cuda9.0
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda90"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python2.7_cuda10.0:
#        CONFIG: linux_python2.7_cuda10.0
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda100"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python2.7_cuda10.1:
#        CONFIG: linux_python2.7_cuda10.1
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda101"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python2.7_cuda10.2:
#        CONFIG: linux_python2.7_cuda10.2
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda102"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#
#      linux_python3.7_cuda8.0:
#        CONFIG: linux_python3.7_cuda8.0
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda80"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python3.7_cuda9.0:
#        CONFIG: linux_python3.7_cuda9.0
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda90"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python3.7_cuda10.0:
#        CONFIG: linux_python3.7_cuda10.0
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda100"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python3.7_cuda10.1:
#        CONFIG: linux_python3.7_cuda10.1
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda101"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python3.7_cuda10.2:
#        CONFIG: linux_python3.7_cuda10.2
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda102"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#
#      linux_python3.8_cuda8.0:
#        CONFIG: linux_python3.8_cuda8.0
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda80"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python3.8_cuda9.0:
#        CONFIG: linux_python3.8_cuda9.0
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda90"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python3.8_cuda10.0:
#        CONFIG: linux_python3.8_cuda10.0
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda100"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python3.8_cuda10.1:
#        CONFIG: linux_python3.8_cuda10.1
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda101"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION
#      linux_python3.8_cuda10.2:
#        CONFIG: linux_python3.8_cuda10.2
#        DOCKER_IMAGE: "omniamd/omnia-linux-anvil:condaforge-texlive19-cuda102"
#        INCLUDE_JINJA: CUDA_SHORT_VERSION

  steps:
    - script: |
        echo "##vso[task.setvariable variable=NIGHTLY]true"
      condition: eq(variables['Build.Reason'], 'Schedule')
      displayName: Set dev trigger if scheduled

    - script: |
        export PROVIDER_DIR="$(basename $THISDIR)"
        CBA_FLAGS="-vvv --cycle-packages --dry-run"
        if [ -n "$INCLUDE_JINJA" ]; then
          CBA_FLAGS="$CBA_FLAGS --build-only-jinja $INCLUDE_JINJA"
        fi
        if [ -n "EXCLUDE_JINJA" ]; then
          CBA_FLAGS="$CBA_FLAGS --no-build-jinja $EXCLUDE_JINJA"
        fi
        if [ ! -z "NIGHTLY"]; then
          CBA_FLAGS="$CBA_FLAGS --dev --scheduled-only"
        fi
        export CBA_FLAGS=$CBA_FLAGS
      displayName: Assemble Variables

    - script: |
        echo $CBA_FLAGS
        DOCKER_FLAGS="--rm"
        DOCKER_DIRS="-v `pwd`:/io"
        DOCKER_DIRS="$DOCKER_DIRS -v `pwd`/.conda_configs:/conda_configs"
        DOCKER_VARS="-e CBA_FLAGS -e CONFIG"
        DOCKER_COMMAND="bash /io/devtools/docker-build.sh"
        docker run ${DOCKER_FLAGS} ${DOCKER_DIRS} ${DOCKER_VARS} ${DOCKER_IMAGE} ${DOCKER_COMMAND}
      displayName: Run Docker Build
